<h2>Reactivos: Básicos</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="form">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            formControlName="name"
          />
          @if(isInvalidField('name')) {
          <span class="form-text text-danger">
            {{ getFieldError("name") }}
          </span>
          }
        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Precio del producto"
            formControlName="price"
          />
          <span class="form-text text-danger">
            El precio debe de ser 0 o mayor
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Existencias del producto"
            formControlName="inStock"
          />

          <span class="form-text text-danger">
            Las existencias deben de ser 0 o mayor
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ form.valid | json }}</pre>

    <span>Pristine</span>
    <pre>{{ form.pristine | json }}</pre>

    <span>Touched</span>
    <pre>{{ form.touched | json }}</pre>

    <span>Value</span>
    <pre>{{ form.value | json }}</pre>

    <span>Errores de todo el formulario</span>
    <pre>{{ form.errors | json }}</pre>

    <span>Errores del campo name</span>
    <pre>{{ form.controls["name"].errors | json }}</pre>
    <span>Errores del campo price</span>
    <pre>{{ form.controls["price"].errors | json }}</pre>
    <span>Errores del campo inStock</span>
    <pre>{{ form.controls["inStock"].errors | json }}</pre>

    <span>Precio</span>
    <pre>{{ form.controls["price"].value | json }}</pre>

    <span>Producto</span>
    <pre>{{ form.controls["name"].value | json }}</pre>
  </div>
</div>
